# Secretos y variables de entorno
.env
!/.env.example

# Datos locales y resultados grandes (no versionar)
my_images/
result_fase_1/
# Cualquier carpeta con texto de result_fase
result_fase_1_10p/
result_fase_1_20p/
pruebas/
runs/
Sperm-Detection-2/
data/


# Cachés y artefactos
__pycache__/
*.pyc
*.pyo
*.log

# Archivos comprimidos grandes (no versionar)
*.zip
*.rar
*.7z
*.tar
*.tar.gz

# VS Code
.vscode/

# Imágenes y datasets opcionales (comentar si quieres versionarlos)
# data/
# datasets/
*.ipynb_checkpoints/
/dataset_f2/
/data/datasets/roboflow_dataset/
/data/processed/
/models/trained/
/tools/morphology_evaluator/dist/
/tools/morphology_evaluator/build/
*.spec
/dist/
/build/
*.spec